/* 
   ========================
   Last Updated: 2022-05-06
   ========================
   Author: Connie Huang
   Contact: huangc8@tcnj.edu
   Version: HTML5, CSS3
   File: constitution.css
   Date Created: 2022-04-19
   Purpose: Styles specific for The Constitution assignment.
*/

/* ================================================
   HEADER STYLES
   ------------------------------------------------ */

/* Moved to portfolio.css */
/* header {} */

/* ================================================
   ASIDE STYLES
   ------------------------------------------------ */

aside {
   /* positioning for asides */
   position: fixed;
   width: 11em;
   
   /* styling */
   padding: 2em;
   font-size: .8em;
   line-height: 1.3;
}

aside p {
   /* clears p margins for both asides */
   margin: 0;
}

/* ================================================
   BOOKMARK ASIDE
   ------------------------------------------------
   Center list while still aligned left:
   https://perishablepress.com/css-center-align-list-left-align-text/

   Shape maker:
   https://bennettfeely.com/clippy/
   ------------------------------------------------ */

aside:first-of-type p {
   /* bookmarks header */
   text-decoration: underline;
   font-weight: 700;
}

aside:first-of-type {
   /* positioning  for bookmark */
   left: 3em;
   
   /* list styling */
   text-align: center;
   
   /* ribbon shape */
   padding-bottom: 5em;
   clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%);
}

aside:first-of-type ul {
   /* list styling */
   display: inline-block; 
   text-align: left; 
   margin: 0;
}

aside:first-of-type ul li:last-child {
   margin-bottom: 0;
}

/* ================================================
   NOTE
   ------------------------------------------------ */

aside:last-of-type {
   /* positioning */
   bottom: 0em;
   right: 3em;
   
   /* styling */
   border-top-left-radius: 1.5em;
   border-top-right-radius: 1.5em;
   
   /* before hover */
   transform: translateY(28em);
   transition: 0.1s linear;
}

aside:last-of-type:hover, aside:last-of-type:active {
   /* after hover */
   transform: translateY(0);
   transition: 0.2s ease-in;
}

/* ================================================
   ARTICLE STYLES
   ------------------------------------------------ */

article {
   /* copied from base.css main section */
   background-color: #FFBA08;
   color: #363537;
   
   /* spacing */
   margin: 0 11em;
}

/* ================================================
   FOOTER STYLES
   ------------------------------------------------ */

/* Moved to portfolio.css */
/* footer {} */

/* ================================================
   TYPOGRAPHY STYLES
   ------------------------------------------------ */
blockquote {
   margin: 0;
   padding-left: 2em;
   border-left: 2px solid;
}

h1, h2, h3 {
   line-height: 1.5em;
}

/* Provided in base.css */
/* ul {}
   li {} 
   p {} */

/* ================================================
   MEDIA QUERIES
   ------------------------------------------------ */

/* moves note to right side on smaller screens 
   and expand article width */
@media (max-width: 725px) and (min-height: 580px){
   article {
      margin-right: 0;
   }
   
   aside:last-of-type {
      left: 3em;
   }
}

/* moves bookmark to top, and note to bottom */
@media (max-width: 480px) {
   article {
      margin-left: 0;
   }
   
   aside:first-of-type {
      position: relative;
      left: 0;
      width: 100%;
      clip-path: none;
      padding-bottom: 2em;
   }
   
   aside:last-of-type {
      position: relative;
      width: 100%;
      left: 0;
      right: 0;
      transform: translateY(0);
      border-radius: 0;
   }
}