/* 
   ========================
    ! UNDER CONSTRUCTION !
   Last Updated: 2022-05-15
   ========================
   Author: Connie Huang
   Contact: huangc8@tcnj.edu
   Version: HTML5, CSS3
   File: recipe.css
   Date Created: 2022-05-06
   Purpose: Styles specific for the Lists, Images, & Positioning assignment.
*/

/* ================================================
   IMAGE STYLES
   partially moved to base.css
   ------------------------------------------------ */

/* figure floats to the right of text */
figure {
   /* positioning */
   width: 40%;
   float: right;
}

/* ================================================
   MEDIA QUERIES
   ------------------------------------------------ */

/* Grid layout copied from media query in layout2.css */
@media (min-width: 750px) {
   /* grid */
   body {
      display: grid;

      /* edited for wider aside */
      grid-template-columns: 20em auto;
   }

   header {
      grid-area: 1 / 1 / 2 / 4;
   }

   main {
      grid-area: 2 / 2 / 3 / 4;
   }

   aside {
      grid-area: 2 / 1 / 3 / 2;
   }

   footer {
      grid-area: 3 / 1 / 4 / 4;
   }
}

/* larger image for smaller screens */
@media (max-width: 1000px) {
   figure {
      float: none;
      margin: 0 auto 0;
      width: 90%;
   }
}
