/* ================================================
   MAIN STYLES
   ------------------------------------------------ */

main h1 {
   border-bottom: solid 2px #2A282C;
   padding-bottom: 0.5em;
   margin-bottom: 1em;
}

main h2 {
   margin-top: 1.2em;
}

/* ================================================
   GRID GALLERY
   ------------------------------------------------
   https://css-tricks.com/snippets/css/complete-guide-grid/
   ------------------------------------------------ */

main > div {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-column-gap: 2em;
   grid-row-gap: 1em;
}

main > div article {
   grid-column: auto / span 1;
   grid-row: auto / span 1;
}

main > div article:first-of-type {
   grid-column: auto / span 2;
}

main > div article img {
   width: 100%;
}

/* ================================================
   MEDIA QUERIES
   ------------------------------------------------ */

@media (max-width: 600px) {
   main > div {
      grid-template-columns: repeat(1, 1fr);
   }

   main > div article:first-of-type {
      grid-column: auto / span 1;
   }
}

@media (min-width: 601px) and (max-width: 1200px) {
   main > div {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media (min-width: 1201px) {
   main {
      margin: 0 8rem;
   }
}
