/*
   Author: Connie Huang
   Contact: huangc8@tcnj.edu
   Version: CSS3
   File: constitution.scss
*/

/* NAV */
header {
   background-color: #f9f9f9;
}

header nav {
   margin: 0;
}

header nav ul li {
   display: inline-block;
   margin: 0;
   padding: 0;
}

/* Adds / before each list item */
ul.breadcrumb li + li:before {
   padding: 8px;
   color: black;
   content: "\002F";
}

/* Styling */
ul.breadcrumb li a {
   color: #0275d8;
   text-decoration: none;
}

ul.breadcrumb li a:hover {
   color: #01447e;
   text-decoration: underline;
}

/* BUTTON */
.btn {
   /* Position */
   position: fixed;
   bottom: 6rem;
   left: 9rem; 
   /* Style */ 
   border-radius: 0.5rem;
   padding: 1em;
   background-color: black;
   font-size: 1.3em;
}

.btn {
   color: #FFFFFF;
   text-decoration: none;
}

/* MAIN AND ASIDE */
#flexbox {
   /* positioning */
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;

   /* styling */
   padding: 6vh;
   overflow: visible;
}

.container aside {
   /* positioning */
   position: -webkit-sticky;
   position: sticky;
   top: 0;

   /* styling */
   padding: 3em;
   width: 16em;
}
