/* 
   ------------------------
    ! UNDER CONSTRUCTION !
   Last Updated: 2022-04-11
   ------------------------
   Author: Connie Huang
   Contact: huangc8@tcnj.edu
   Version: Dart Sass 1.49.7, CSS3
   File: layout.scss
   Date Created: 2022-04-08
   Purpose: Base layout for webpages.
*/
/* --------------------------------------------------- */

$global-padding: 4rem;

/* 
   General 
*/

/* Applies flexbox to header, main */
body > header,
body > main {
   display: flex;
   display: -webkit-flex;
}

/* Adds padding to all main sections of the page
   instead of adding padding directly to the body
   to prevent problem of having blank border around page
   when applying colors to sections */
header > *,
main > *,
footer {
   padding: $global-padding;
}

/* Main stretches to fill full height of the page:
   https://stackoverflow.com/questions/17054158/ */
body {
   display: flex;
   display: -webkit-flex;
   flex-flow: column nowrap;
   -webkit-flex-flow: column nowrap;
   min-height: 100vh;
}

/* Sections are aligned side by side using flexbox 
   https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
main {
   flex-flow: row wrap;
   -webkit-flex-flow: row wrap;
}

/* --------------------------------------------------- */
/* 
   HEADER, LOGO, NAV
*/
header {
   background-color: peachpuff; // test, visualize padding

   justify-content: space-between; // flexible space between logo and links
   align-items: center; // centered vertically


   #logo p {
      margin: 0; // resets margins
      padding: 0.3rem 0 0 0; // centers text in borders

      // decoration
      //      border-top: 1px solid black;
      //      border-bottom: 1px solid black;
      font-weight: 400;

      // spaced out letters, lowercased
      letter-spacing: 0.3rem;
      text-transform: lowercase;

      a {
         text-decoration: none;
         color: darkgoldenrod;
      }
   }


   nav {
      ul {
         // in rare case of overflow, allow scroll
         overflow: auto;
         white-space: nowrap;

         li {
            // remove bullets
            display: inline-block;
            list-style-type: none;

            // resets margins + padding
            margin: 0;
            padding: 0;

            // space between links, responsive
            padding-left: $global-padding;

            a {
               text-decoration: none;
               color: black;
               
               &:hover {
                  color: aliceblue;
               }
            }
         }

      }
   }
}

/* --------------------------------------------------- */

/*
   MAIN
*/
main {
   background-color: papayawhip; // test, visualize padding

   img {
      opacity: 30%;
   }

   flex: 1;

   section.left {
      flex: 2;
   }

   section.right {
      flex: 1;
   }
}

/* --------------------------------------------------- */

/*
   FOOTER
*/
footer {
   background-color: lightcoral; // test, visualize padding
   text-align: center;
}

/* --------------------------------------------------- */

/* 
   MEDIA QUERIES
   kind of messy, will fix later
*/
@media screen and (min-width: 320px) and (max-width: 480px) {

   /* Sections are aligned on top of each other */
   header,
   main,
   footer {
      flex-flow: column wrap;
      -webkit-flex-flow: column wrap;
   }

   .left {
      padding-bottom: 0;
   }

   header nav ul li {
      padding: 0 0.5rem;
   }

   .validator {
      display: none !important;
   }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

   /* Sections are aligned on top of each other */
   header {
      flex-flow: column wrap;
      -webkit-flex-flow: column wrap;
   }

   .left {
      padding-bottom: 0;
   }

   header nav ul li {
      padding: 0 0.5rem;
   }
   
   .validator {
      display: none !important;
   }
}
