/*
   Author: Connie Huang
   Contact: huangc8@tcnj.edu
   Version: Dart Sass 1.49.7
   File: _base.scss
   Date Created: 2022-03-04
   Last Updated: 2022-03-04
*/

/* modules */
@use 'variables'
   
/* imported fonts */ 
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inconsolata&display=swap');

/* root */
html {
   font-size: 14px;
}

body {
   margin: 0;
   padding: 0;

   font-family: 'Courier Prime', monospace;
//   font-family: 'Inconsolata', monospace;

   background-color: $black;
   color: $white;

   a {
      color: black;
   }
}