/* 
   ------------------------
    ! UNDER CONSTRUCTION !
   Last Updated: 2022-04-08
   ------------------------
   Author: Connie Huang
   Contact: huangc8@tcnj.edu
   Version: Dart Sass 1.49.7, CSS3
   File: styles.scss
   Date Created: 2022-04-08
   Purpose: Base styles/theme of the website.
*/

/* --------------------------------------------------- */

/* 
   partials/_variables.scss/
   Scss variables used throughout the styles.scss 
*/
@import "partials/variables";

/* --------------------------------------------------- */

/* 
   partials/_base.scss/
   Resets spacing and font-size from browser defaults.
*/
@import "partials/base";

/* --------------------------------------------------- */

/*
   partials/_default.scss/
   Sets the default styles of the website.
*/
@import "partials/default";

/* --------------------------------------------------- */

/* 
   partials/_typography.scss/
   Sets all styles related to typography (font, color).
*/
@import "partials/typography";

/* --------------------------------------------------- */
