body {
   background-color: $white;
}

header {
}

@include text {
   color: $black;
}

nav a {
   color: $dark;

   &:hover {
      color: $pop;
   }
}

blockquote {
   border-left: 0.5rem solid $dark;
   background-color: $light;
}