/*** File: _layout.scss ***/

$wrap-space: 8vh;

/* MAIN */
main {
   padding: $wrap-space;
   margin: auto;
}

/* HEADER */
header {
   padding: $wrap-space;
   margin: auto;
}

/* FOOTER */
footer {
   margin: auto;
   padding: $wrap-space;
   text-align: center;
   
   p a {
      text-decoration: none;
   }
   
   img {
      width: 6em;
   }
}
