h1 {
   font-size: $fsize-h1;
}
h2 {
   font-size: $fsize-h2;
}
h3 {
   font-size: $fsize-h3;
}
h4 {
   font-size: $fsize-h4;
}
h5 {
   font-size: $fsize-h5;
}
h6 {
   font-size: $fsize-h6;
}
p, blockquote, 
ul li, ol li, dl dt, dl dd {
   font-size: $fsize-p;
   line-height: $global-line-height;
   margin: $global-text-margin 0 $global-text-margin * 2;
}

@include headings {
   font-weight: 400;
   line-height: $global-line-height * 2;
}

@include lists {
   list-style: square outside;
   margin-left: 1.75em;
   padding-left: 0.5em;
}

blockquote {
   font-style: italic;
   border-left: 0.25em solid;
   padding: 1em 2em;
}