h1 {
   font-size: $fsize-h1;
}
h2 {
   font-size: $fsize-h2;
}
h3 {
   font-size: $fsize-h3;
}
h4 {
   font-size: $fsize-h4;
}
h5 {
   font-size: $fsize-h5;
}
h6 {
   font-size: $fsize-h6;
}
p {
   font-size: $fsize-p;
}
blockquote {
   font-size: $fsize-p;
}

@include text {
   font-family: $fontstack-1;
   font-weight: 300;
   line-height: 1.5;
}
@include headings {
   font-family: $fontstack-1;
   font-weight: 400;
}

@include lists {
   font-size: $fsize-p;
   font-family: $fontstack-1;
}
ul li {
   list-style-type: square;
}
ol li {
   list-style-type: decimal;
}
dl dt {
   list-style-type: none;
}
