// color
$dark: #1d1d1d;
$light: #f9f9f9;

// font-size
// inspired by https://archetypeapp.com/#
$fsize-scale: 1.15;
$fsize-p: 1.6em;
$fsize-h6: $fsize-p * $fsize-scale;
$fsize-h5: $fsize-h6 * $fsize-scale;
$fsize-h4: $fsize-h5 * $fsize-scale;
$fsize-h3: $fsize-h4 * $fsize-scale;
$fsize-h2: $fsize-h3 * $fsize-scale;
$fsize-h1: $fsize-h2 * $fsize-scale;
$global-line-height: 2.5rem;
$global-text-margin: 1rem;

// fontstacks
$fontstack-1: 'Josefin Sans', sans-serif;

// --- TO USE MIXINS: @include name ---

// selects every heading
@mixin headings {
   h1, h2, h3, h4, h5, h6 {
      @content;
   }
}

// selects every lists
@mixin lists {
   ul li, ol li, dl dt, dl dd {
      @content;
   }
}
