/* 
   ========================
    ! UNDER CONSTRUCTION !
   Last Updated: 2022-04-16
   ========================
   Author: Connie Huang
   Contact: huangc8@tcnj.edu
   Version: HTML5, CSS3
   File: styles.css
   Date Created: 2022-04-12
   Purpose: Main stylesheet for website.
*/

/* 
   ================================================
   HEX COLORS
   https://coolors.co/
   ------------------------------------------------
   #F8F2F0 - Isabelline
   #EE554D - Fire Opal
   #FFBA08 - Selective Yellow
   #6969FF - Medium Slate Blue
   #033F65 - Indigo Dye
   #2A282C - Raisin Black
   ================================================
   RESOURCES
   https://www.w3schools.com/cssref/css_default_values.asp
   ------------------------------------------------
*/

/* ================================================
   BASE STYLES
   ------------------------------------------------ */

* {
   /* https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing#sect1 */
   box-sizing: border-box;
}

html {
   /* root font */
   font-size: 18px;
}

body {
   /* fontstack + line spacing */
   font-family: "Josefin Sans", sans-serif;
   line-height: 1.5rem;

   /* base page colors */
   background-color: #363537;
   color: #F8F2F0;

   /* resets margin wrapping page */
   margin: 0;
}

body > * {
   /* pads every main section of the page */
   padding: 3rem;
}

img {
   /* https://stackoverflow.com/questions/7774814 */
   display: block;
}

h1, h2, h3, h4, h5, h6, nav ul li a {
   text-transform: lowercase;
}

/* ================================================
   BASE LINK STYLES 
   ------------------------------------------------ */

a {
   color: #F8F2F0;
}

a:hover {
   color: #FFBA08;
}

a:active {
   color: #7F7EFF;
}

/* ================================================
   LIST STYLES 
   ------------------------------------------------ */

ul {
   /* spacing before the bullet */
   padding-left: 1em;
}

li {
   /* spacing after the bullet */
   padding-left: 0.7em;
}

/* ================================================
   NAV STYLES 
   ------------------------------------------------ */

nav ul {
   padding: 0;
}

nav ul li {
   padding: 0;
   list-style-type: none;
   display: block;
}

nav ul li a {
   text-decoration: none;
}

/* ================================================
   MAIN SYLES
   ------------------------------------------------ */

main {
   background-color: #FFBA08;
   color: #363537;
}

main a {
   color: #363537;
}

main a:hover {
   color: #EE554D;
}

/* ================================================
   COLORS FOR HEADER, ASIDE, FOOTER
   ------------------------------------------------ */

header {
   background-color: #EE554D;
}

aside {
   background-color: #033F65;
}

footer {
   background-color: #2A282C;
}