/* 
   ========================
   Last Updated: 2022-05-05
   ========================
   Author: Connie Huang
   Contact: huangc8@tcnj.edu
   Version: HTML5, CSS3
   File: layout1.css
   Date Created: 2022-05-05
   Purpose: Base layout.
*/

/*
   ================================================
   FLEXBOX RESOURCE:
   https://css-tricks.com/snippets/css/a-guide-to-flexbox/
   ------------------------------------------------
*/

/* ================================================
   TYPOGRAPHY
   ------------------------------------------------ */

h1, h2, h3, h4, h5, h6, ul li a {
   /* headings and links are lowercased */
   text-transform: lowercase;
}

/* ================================================
   HEADER NAV
   ------------------------------------------------ */

nav ul {
   /* reset default margins */
   margin: 0;

   /* flexbox,
      change row to column when nav is vertical */
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: flex-end;
}

/* ================================================
   HORIZONTAL FOOTER 
   ------------------------------------------------ */

footer {
   display: flex;
   flex-flow: row wrap;

   /* flexbox, 
      centers vertically and horizontally */
   align-items: center;
   justify-content: center;
}

/* ================================================
   MEDIA QUERIES
   ------------------------------------------------ */

/* Phone Only 
   Only show email in footer */
@media screen and (min-width: 320px) and (max-width: 480px) {
   footer a {
      display: none;
   }

   footer p:first-child {
      display: none;
   }
}

/* swich nav to columns at around point when it starts to wrap */
@media (max-width: 616px) {
   nav ul {
      flex-flow: column wrap;
      align-items: flex-start;
   }
}