/* 
   ========================
    ! UNDER CONSTRUCTION !
   Last Updated: 2022-04-18
   ========================
   Author: Connie Huang
   Contact: huangc8@tcnj.edu
   Version: HTML5, CSS3
   File: styles.css
   Date Created: 2022-04-14
   Purpose: Layout of website, sets flexboxes.
*/

/*
   ================================================
   FLEXBOX RESOURCE:
   https://css-tricks.com/snippets/css/a-guide-to-flexbox/
   ------------------------------------------------
*/

/* ================================================
   GENERAL STYLES
   ------------------------------------------------ */

main img {
   width: 100%;

   /* adds spacing above and below + centers image */
   margin: 2em auto;
}

nav ul li, footer > * {
   /* set spacing between links */
   margin: 1em;
}

/* gives underline to active nav link */
nav ul li.active {
   border-bottom: 2px solid #F8F2F0;
}

h1, h2, h3, h4, h5, h6, nav ul li a {
   text-transform: lowercase;
}

/* ================================================
   HEADER NAV
   ------------------------------------------------ */

nav ul {
   /* reset default margins */
   margin: 0;

   /* flexbox,
      change row to column when nav is vertical */
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   align-items: flex-end;
}

/* ================================================
   HORIZONTAL FOOTER 
   ------------------------------------------------ */

footer {
   display: flex;
   flex-flow: row wrap;

   /* flexbox, 
      centers vertically and horizontally */
   align-items: center;
   justify-content: center;
}

/* ================================================
   MEDIA QUERIES
   Grid generator: https://cssgrid-generator.netlify.app
   ------------------------------------------------ */

/* Phone Only 
   Only show email in footer */
@media screen and (min-width: 320px) and (max-width: 480px) {
   footer a {
      display: none;
   }

   footer p:first-child {
      display: none;
   }
}

/* swich nav to columns at around point when it starts to wrap */
@media (max-width: 616px) {
   nav ul {
      flex-flow: column wrap;
      align-items: flex-start;
   }
}

/* Tablets and Bigger 
   Content shows in 2 columns */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

   /* grid */
   body {
      display: grid;
      grid-template-columns: 15em 3fr;
   }

   header {
      grid-area: 1 / 1 / 2 / 4;
   }

   main {
      grid-area: 2 / 2 / 3 / 4;
   }

   aside {
      grid-area: 2 / 1 / 3 / 2;
   }

   footer {
      grid-area: 3 / 1 / 4 / 4;
   }
}

/* Desktop Computers 
   Content shows in 3 columns (2 stickies) */
@media (min-width: 1025px) {

   /* column nav, sidebar stickies */
   nav ul {
      flex-flow: column wrap;
   }

   header nav, aside div {
      position: sticky;
      top: 2em;
   }

   /* grid */
   body {
      display: grid;
      grid-template-columns: 15em 3fr 15em;
   }

   header {
      grid-area: 1 / 3 / 2 / 4;
   }

   main {
      grid-area: 1 / 2 / 2 / 3;
   }

   aside {
      grid-area: 1 / 1 / 2 / 2;
   }

   footer {
      grid-area: 2 / 1 / 3 / 4;
   }
}

/* Extra large screens will 
   just continue to scale the page */
@media (min-width: 1280px) {
   html {
      font-size: 1.3vw;
   }
}
