/*
   Author: Connie Huang
   Contact: huangc8@tcnj.edu
   Version: Dart Sass 1.49.7
   File: styles.scss
   Date Created: 2022-02-11
   Last Updated: 2022-02-18
*/
/* base styles */
body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-color: white;
  color: black; }
  body a {
    color: black; }

/* nav link styles */
nav ul li {
  list-style: none; }
  nav ul li a {
    text-decoration: none; }
    nav ul li a:hover {
      text-decoration: underline; }
    nav ul li a:active {
      color: grey; }

/* paragraph link styles */
p a {
  text-decoration: underline; }
  p a:visited {
    color: blue; }

/* buttons default look */
button {
  padding: 0;
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: black;
  color: white; }
  button:hover {
    box-shadow: 0 0.4em 1em grey; }
  button img {
    width: 1.3em;
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

/* darkmode styles */
.darkmode {
  background-color: black;
  color: white;
  /* temp */ }
  .darkmode a {
    color: white; }
  .darkmode button {
    background-color: white;
    color: black; }
    .darkmode button:hover {
      box-shadow: 0 0.4em 1em lightgray; }
    .darkmode button img {
      filter: invert(0); }
  .darkmode #about-this-site {
    background-color: darkgoldenrod; }
  .darkmode #about-me {
    background-color: palevioletred; }

/* button that switches between light modes */
#modebtn {
  position: absolute;
  top: 2.5em;
  right: 2.5em; }

/* open drawer button */
#openbtn {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 2.5em; }

/* styles within drawer */
#drawer {
  /* drawer shape and position */
  width: 100%;
  border-radius: 2em 2em 0 0;
  position: absolute;
  bottom: 0;
  /* height which drawer opens to, set in JS */
  height: 0;
  /* color */
  background-color: black;
  outline-style: solid;
  /* appearance */
  z-index: 1;
  transition: 0.4s;
  overflow-y: hidden; }
  #drawer section {
    /* style of content within drawer */
    color: white;
    /* content placement */
    padding: 3em;
    height: 80%;
    overflow: auto; }
  #drawer #closebtn {
    /* close button styles */
    position: absolute;
    bottom: 25em;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: none;
    transition: 0.3s; }
    #drawer #closebtn img {
      filter: invert(100%); }

/* ----------- TEMPORARY / TO BE MOVED OR CHANGED ----------- */
/* HOMEPAGE */
h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%); }

/* NAV */
nav {
  margin: 2.5em 0 0 0; }

/* FOOTER */
footer {
  padding: 2.5em;
  text-align: center; }
  footer a {
    text-decoration: none; }
  footer img {
    width: 5.5em; }

/* SECTION */
section {
  margin: 2.5em;
  padding: 2.5em;
  border-radius: 2.5em; }

#about-this-site {
  background-color: gold; }

#about-me {
  background-color: peachpuff; }

/* TO-DO:
   - change webpage when JS is disabled
   - <noscript>
*/

/*# sourceMappingURL=styles.css.map */